{{> templates/base }}
{{#partial "tituloYcss"}}
    <link rel = "stylesheet" href = "/css/ConsultaDeIncidentes.css">
    <title>Consulta de Incidentes</title>
{{/partial}}
{{> templates/base }}

{{#partial "contenido"}}
    <div id="base">
     <h1>INCIDENTES</h1>
     {{#unless administrador}}
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Seleccione Estado de Incidentes</label>
                <select class="form-select" id="inputGroupSelect01">
                    <option
                    {{#unless seleccionEstado}}
                    selected
                    {{/unless}}>Seleccionar...</option>
                    <option
                    {{#if abierto}}
                    selected
                    {{/if}}
                    value="ABIERTO">Abierto</option>
                    <option
                    {{#if cerrado}}
                    selected
                    {{/if}}
                    value="CERRADO">Cerrado</option>
                </select>
            </div>
     {{/unless}}
     {{#if usuarioBasico}}
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect02">Seleccione una Comunidad</label>
                <select class="form-select" id="inputGroupSelect02">
                    <option
                    {{#unless seleccionComunidad}}
                    selected
                    {{/unless}}>Seleccionar...</option>
                    {{#if seleccionComunidad}}
                        <option selected value="{{comunidadSeleccionada.id}}">{{comunidadSeleccionada.nombre}}</option>
                    {{/if}}
                    {{#each comunidades}}
                         <option value="{{this.id}}">{{this.nombre}}</option>
                    {{/each}}
                </select>
            </div>
     {{/if}}
        <div class="row row-cols-1 row-cols-md-2 g-4">
        {{#each incidentes}}
            <div class="col">
                <div class="tarjetaIncidente">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{this.establecimiento.nombre}}</li>
                        <li class="list-group-item">{{this.servicio.nombre}}: {{this.servicio.tipoNombre}}</li>
                        {{#if this.cerrado}}
                        <li class="list-group-item">Cerrado</li>
                        {{else}}
                        <li class="list-group-item">Abierto</li>
                            {{#if seleccionComunidad}}
                            <button type="button" class="btn btn-secondary btn-cerrar-incidente" data-incidente-id="{{this.id}}" data-comunidad-id="{{comunidadSeleccionada.id}}">Cerrar Incidente</button>
                            {{/if}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
    <script src="/js/Incidentes.js"></script>
{{/partial}}
{{> templates/base }}