{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "/css/Intereses.css">
        <title>Intereses</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <h1>ENTIDADES</h1>
                <div class="row row-cols-1 g-4">
                {{#each entidades}}
                    <div class="col">
                        <div class="tarjeta d-flex justify-content-between align-items-center">
                            <div>
                                <h2>{{this.nombre}}</h2>
                                <h4>Tipo: {{this.tipo}}</h4>
                                <h4>Establecimientos: {{this.cantidadEstablecimientos}}</h4>
                            </div>
                            <button type="button" class="btn btn-secondary btn-eliminar-entidadInteres" data-entidad-id="{{this.id}}">Eliminar</button>
                        </div>
                    </div>
                {{/each}}
                </div>
        </div>
        <div id="base">
            <h1>SERVICIOS</h1>
                <div class="row row-cols-1 g-4">
                {{#each servicios}}
                    <div class="col">
                        <div class="tarjeta d-flex justify-content-between align-items-center">
                            <div>
                                <h2>{{this.servicio.nombre}}</h2>
                                <h4>Tipo: {{this.servicio.tipoNombre}}</h4>
                                <h4>Rol: {{this.rol}}</h4>
                                <h4>Estado: {{this.servicio.estado}}</h4>
                            </div>
                            <button type="button" class="btn btn-secondary btn-cambiar-rol" data-servicio-id="{{this.id}}">Cambiar Rol</button>
                            <button type="button" class="btn btn-secondary btn-eliminar-servicioInteres" data-servicio-id="{{this.id}}">Eliminar</button>
                      </div>
                    </div>
                {{/each}}
                </div>
        </div>
        <script src="/js/EliminarEntidadDeInteres.js"></script>
        <script src="/js/EliminarServicioDeInteres.js"></script>
        <script src="/js/CambiarRol.js"></script>
{{/partial}}
{{> templates/base }}