{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "/css/PerfilUsuario.css">
        <title>Perfil Usuario</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <div class="imagen">
                <img alt="fotoDePerfil" src="/imagenes/userLogo.png" id="fotoDePerfil">
            </div>
            <div class="informacion">
                <h2>{{miembroDeComunidad.usuario.username}}</h2>
                <p>Nombre: {{miembroDeComunidad.nombre}}</p>
                <p>Apellido: {{miembroDeComunidad.apellido}}</p>
                <p>Mail: {{miembroDeComunidad.receptorDeNotificaciones.mail}}</p>
                <p>Telefono: {{miembroDeComunidad.receptorDeNotificaciones.telefono}}</p>
                <p>Cantidad de incidentes reportados: </p>
                <p>Cantidad de incidentes cerrados: </p>
                <p>Cantidad de incidentes revisados: </p>
                <p>Mis comunidades:
                  {{#each miembroDeComunidad.comunidades}}
                    {{this.nombre}}{{#unless @last}}, {{/unless}}
                  {{/each}}
                </p>
                 <button type="button" class="btn btn-secondary" id="cerrarSesion">Cerrar Sesion</button>
            </div>
        </div>
        <script src="/js/PerfilUsuario.js"></script>
{{/partial}}
{{> templates/base }}
