{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "/css/PerfilUsuario.css">
        <title>Perfil Usuario</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
        <a href="/incidentes" class="volver-button">Volver</a>
            <div class="imagen">
                <img alt="fotoDePerfil" src="/images/userLogo.png" id="fotoDePerfil">
            </div>
            <div class="informacion">
                <h2>{{miembroDeComunidad.usuario.username}}</h2>
                <p>Nombre: {{miembroDeComunidad.nombre}}</p>
                <p>Apellido: {{miembroDeComunidad.apellido}}</p>
                <p>Mail: {{miembroDeComunidad.receptorDeNotificaciones.mail}}</p>
                <p>Telefono: {{miembroDeComunidad.receptorDeNotificaciones.telefono}}</p>
                {{#unless perfilAdministrador}}
                <p>Cantidad de incidentes reportados: {{incidentesAbiertos}}</p>
                <p>Cantidad de incidentes cerrados: {{incidentesCerrados}}</p>
                <p>Mis comunidades:
                  {{#each miembroDeComunidad.comunidades}}
                    <a href="/comunidades/{{this.id}}">{{this.nombre}}</a>{{#unless @last}}, {{/unless}}
                  {{/each}}
                </p>
                {{/unless}}
            </div>
        </div>
{{/partial}}
{{> templates/base }}
