{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "/css/Servicios.css">
        <title>Servicios</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <h1>SERVICIOS</h1>
                <div class="row row-cols-1 g-4">
                {{#each servicios}}
                    <div class="col">
                        <div class="tarjetaServicio d-flex justify-content-between align-items-center">
                            <div>
                                <h2>{{this.nombre}}</h2>
                                <h4>Tipo: {{this.tipoNombre}}</h4>
                                <h4>Estado: {{this.estado}}</h4>
                            </div>
                            {{#if usuarioBasico}}
                                <button type="button" class="btn btn-success btn-nuevo-interes" data-organismo-id="{{organismo_id}}" data-entidadPrestadora-id="{{entidadPrestadora_id}}" data-entidad-id="{{entidad_id}}" data-establecimiento-id="{{establecimiento_id}}" data-servicio-id="{{this.id}}" data-rol="OBSERVADOR">Interes como observador</button>
                                <button type="button" class="btn btn-success btn-nuevo-interes" data-organismo-id="{{organismo_id}}" data-entidadPrestadora-id="{{entidadPrestadora_id}}" data-entidad-id="{{entidad_id}}" data-establecimiento-id="{{establecimiento_id}}" data-servicio-id="{{this.id}}" data-rol="AFECTADO">Interes como afectado</button>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
                </div>
        </div>
        <script src="/js/NuevoServicioDeInteres.js"></script>
        {{#if usuarioBasico}}
            <script src="/js/EnviarUbicacion.js"></script>
        {{/if}}
{{/partial}}
{{> templates/base }}