{{> templates/base }}
{{#partial "tituloYcss"}}
        <link rel = "stylesheet" href = "css/UnirseComunidad.css">
        <title>Comunidades</title>
 {{/partial}}
 {{> templates/base }}

 {{#partial "contenido"}}
        <div id="base">
            <h1>COMUNIDADES</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                {{#each comunidades}}
                    <div class="col">
                        <div class="tarjetaComunidad d-flex justify-content-between align-items-center">
                            <div>
                                <h2>{{this.nombre}}</h2>
                                <h4>Miembros: {{this.cantidadMiembros}}</h4>
                            </div>
                            {{#if usuarioBasico}}
                            <button type="button" class="btn btn-secondary btn-unirse" data-comunidad-id="{{this.id}}">Unirme</button>
                            {{else}}
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/comunidades/incidentes/' + {{this.id}}">Incidentes</button>
                            <button type="button" class="btn btn-secondary btn-eliminar" data-comunidad-id="{{this.id}}">Eliminar</button>
                            {{/if}}
                            <button type="button" class="btn btn-secondary" onclick="window.location.href='/comunidades/{{this.id}}'">Informacion</button>
                        </div>
                    </div>
                {{/each}}
                </div>
        </div>
        <script src="js/EliminarComunidad.js"></script>
        <script src="js/UnirseAComunidad.js"></script>
{{/partial}}
{{> templates/base }}
