{{> templates/base }}
{{#partial "tituloYcss"}}
    <link rel="stylesheet" href="/css/UnirseComunidad.css">
    <title>Comunidades</title>
{{/partial}}
{{> templates/base }}

{{#partial "contenido"}}
    <div class="row">
        <div id="base">
            <h1>COMUNIDADES</h1>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {{#each comunidades}}
                    <div class="col">
                        <div class="tarjetaComunidad">
                            <div>
                                <h2>{{this.nombre}}</h2>
                                <h4>Miembros: {{this.cantidadMiembros}}</h4>
                            </div>
                            {{#if usuarioBasico}}
                            <div class="button-group">
                                <button type="button" class="btn btn-secondary btn-unirse" data-comunidad-id="{{this.id}}">Unirme</button>
                            </div>
                            {{else}}
                                <div class="button-group">
                                    <button type="button" class="btn btn-secondary btn-incidentes" onclick="window.location.href='/incidentes/comunidad/' + {{this.id}} ">Incidentes</button>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="btn btn-secondary btn-eliminar" data-comunidad-id="{{this.id}}">Eliminar</button>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="btn btn-secondary btn-informacion" onclick="window.location.href='/comunidades/{{this.id}}'">Informacion</button>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        {{#if usuarioBasico}}
            <button type="button" class="btn btn-secondary" id="btn-crear-comunidad">Crear Comunidad</button>
            <div id="base2">
                <h1>MIS COMUNIDADES</h1>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {{#each comunidadesUsuario}}
                        <div class="col">
                            <div class="tarjetaComunidad">
                                <div>
                                    <h2>{{this.nombre}}</h2>
                                    <h4>Miembros: {{this.cantidadMiembros}}</h4>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="btn btn-secondary btn-incidentes" onclick="window.location.href='/incidentes/comunidad/' + {{this.id}} ">Incidentes</button>
                                </div>
                                <div class="button-group">
                                    <button type="button" class="btn btn-secondary btn-informacion" onclick="window.location.href='/comunidades/{{this.id}}'">Informacion</button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </div>
    <script src="js/EliminarComunidad.js"></script>
    <script src="js/UnirseAComunidad.js"></script>
    <script src="js/CrearComunidad.js"></script>
    {{#if usuarioBasico}}
        <script src="/js/EnviarUbicacion.js"></script>
    {{/if}}
{{/partial}}
{{> templates/base }}
